@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	/*border: 1px solid;*/
}


#contents {
   	display: flex;
    flex-direction: column;
	width: 100%;
    height: 95px;
    /*position: relative;*/
    min-width: 955px;
    max-width: 1600px;
    min-height: 800px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    padding: 0 90px 0;
}

#pageDiv {
	display: flex;
    justify-content: space-between;
	width: 100%;
    height: 95px;
    /*position: relative;*/
    min-width: 955px;
    max-width: 1600px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    padding: 0 90px 0;
}

#paging {
	margin: 0 auto;
	padding: 20px 10px 40px;
}

