@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

#main {
	/*border: 1px solid;*/
	width: 100%;
    height: 95px;
	display: flex;
    justify-content: space-between;
    min-width: 955px;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 90px 0;
}

#search {
	/*border: 1px solid;*/
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
}

.ul-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
}

.li-1 {
	margin: 20px;
}

#index {
	border: 1px solid;
	display: flex;
	width: 100%;
    height: 100%;
    min-width: 955px;
    max-width: 1600px;
    margin: 0 auto;
}

#contents {
	border: 1px solid;
   	display: flex;
    justify-content: space-between;
	width: 100%;
    height: 95px;
    /*position: relative;*/
    min-width: 955px;
    max-width: 1600px;
    min-height: 800px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    padding: 0 90px 0;
}

footer {
	border: 1px solid;
	border-top: 1px solid black;
   	display: flex;
    justify-content: space-between;
	width: 100%;
    height: 110px;
    position: relative;
    min-width: 955px;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 90px 20px;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  /*color: black;*/ 
  font-size: 21px;
}

footer a:visited {
  color: black;
}

footer p {
  margin-top: 0; margin-bottom: 0;   
}

footer p span {
  display: inline-block;
  margin-left: 17px;
}

#searchBox {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
/*      background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
}


/*#searchKeyword::placeholder { color: #aaaaaa; }
#searchKeyword:focus { outline: none; }

#searchKeyword:focus ~ label, #searchKeyword:valid ~ label {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

#searchKeyword:focus ~ span, #searchKeyword:valid ~ span {
  width: 100%;
}*/

/*#main {
    font-size: 100%;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 95px;
    background-color: #fff;
   	border: 0;
    position: relative;
    min-width: 955px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 90px 0;
}

#search {
    font-size: 100%;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    width: 350px;
    height: 32px;
    padding: 0 30px 0 42px;
    vertical-align: middle;
    border: 1px solid #d2d2d2;
    border-radius: 17px;
}

#member {
    font-size: 100%;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 240px;
    margin-left: 24px;
}

#member li {
	float: left;
	margin-left: 40px;
}
*/